<div style="width: 400px; margin: auto;">
    <div *ngIf="currentProduct" class="edit-form">
      <h4>Product</h4>
      <form>
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentProduct.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Quantity</label>
          <input
            type="text"
            class="form-control"
            id="quantity"
            [(ngModel)]="currentProduct.quantity"
            name="quantity"
          />
        </div>


        <div class="form-group">
            <label for="description">Price</label>
            <input
              type="text"
              class="form-control"
              id="price"
              [(ngModel)]="currentProduct.price"
              name="price"
            />
          </div>
  
       
      </form>
  

  
      <button class="badge badge-danger mr-2" (click)="deleteProduct()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateProduct()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentProduct">
      <br />
      <p>Cannot access this Product...</p>
    </div>
  </div>